.banner-imagem{
    background: url('../../img/banner.jpg') no-repeat center / cover; 
    /*Resume todo o cod comentado*/
    width: 100%;
    /* 
        background-image: url('../../imagens/banner.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; 
        
    */        
}

@media screen and (min-width: 0) {
    .banner-imagem {
        height: calc(100vh - 51px);
    }
}

@media screen and (min-width: 768px) {
    .banner-imagem {
        height: calc(100vh - 72px);
    }
}